
  <div id="goal">{{ site.data.funding.goal |bmoney_with_currency }}$</div>
  <div id="glass">
    <div id="progress">
    </div>
  </div>
  <div class="goal-stat">
    <span class="goal-number">{{site.data.funding.raised | times: 100 | divided_by: site.data.funding.goal }}%</span>
    <span class="goal-label">Financé</span>
  </div>
  <div class="goal-stat">
    <span class="goal-number">{{site.data.funding.raised}}$</span>
    <span class="goal-label">Recueillis</span>
  </div>
  <div class="goal-stat">
    <span class="goal-number"><div id="countdown"></div></span>
    <span class="goal-label">Restant</span>
  </div>
