<!-- include jquery -->
{% asset js/jquery-1.11.2.min %}
<!-- Bootstrap Core JavaScript -->
{% asset js/bootstrap.min %}

<!-- Plugin JavaScript -->
{% asset js/jquery.easing.min %}

<!-- include Masonry -->
{% asset js/isotope.pkgd.min %}
{% asset js/fit-columns %}
{% asset js/modernizr %}
{% asset js/retina.min %}

<!-- include menu animation -->
{% asset js/classie %}
{% asset js/cbpAnimatedHeader.min %}

<!-- include custom script -->
{% asset js/on-page-scroll %}
{% asset js/infinitescroll %}

<!-- include fullcalandar script -->
{% asset js/moment.min %}
{% asset js/fullcalendar %}
{% asset js/fullcalendar-fr-ca %}
{% asset js/fullcalendar-gcal %}

{% asset js/calendar %}

<!-- include contact-forms script -->
{% asset js/contact-forms %}


<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101087982-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-101087982-2');
  
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KL583JG');
</script>

