<!-- include jquery -->
{% js js/jquery-1.11.2.min %}
<!-- Bootstrap Core JavaScript -->
{% js js/bootstrap.min %}

<!-- Plugin JavaScript -->
{% js js/jquery.easing.min %}

<!-- include Masonry -->
{% js js/isotope.pkgd.min %}
{% js js/fit-columns %}
{% js js/modernizr %}
{% js js/retina.min %}

<!-- include menu animation -->
{% js js/classie %}
{% js js/cbpAnimatedHeader.min %}

<!-- include custom script -->
{% js js/on-page-scroll %}
{% js js/infinitescroll %}

<!-- include fullcalandar script -->
{% js js/moment.min %}
{% js js/fullcalendar %}
{% js js/fullcalendar-fr-ca %}
{% js js/fullcalendar-gcal %}

{% js js/calendar %}

<!-- include contact-forms script -->
{% js js/contact-forms %}


<!-- include countdown script -->
{% js js/countdown %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101087982-1', 'auto');
  ga('send', 'pageview');

</script> 
