section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('../img/noisy_texture_a.png') repeat 0 0 #000000;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

@media(max-width:$on-more-than-palm-width) {
    header {
        min-height: 85px;
    }
}

@media(min-width:$on-more-than-palm-width) {
    header {
        min-height:175px;
    }
}

.project-container{
    @media(min-width:$max-palm-width){
        display: flex;
        align-items:center;
    }
    width: 100%;
    text-align: center;
}

.project-text{
    display: inline-block;
    padding: 35px;
    @media(max-width:$max-palm-width){
        width:100%;
    }
}

.project-button {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    line-height: 1;
    padding: 35px;
    
    a {
        padding: 10px;
        display: inline-block;
        color: white;
        background-color: rgba(255,255,255,0.15);
        border: solid 2px #ffffff;
        text-decoration: none;
    }
    a:hover {
        padding: 10px;
        color: black;
        background-color: rgba(255,255,255,0.85);
        border: solid 2px #ffffff;
        text-decoration: none;;
    }
}


.spacer-25{
    height:25px;
}
